.thecircle {
    background: #f4eae1;
}

/*todo NAV */


.thecircle .navbar-light .navbar-toggler {
    background: transparent !important;
}

.navbar-toggler-icon {
    font-size: 1.4em;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar-toggler-icon:hover{
    -webkit-transform: rotate(180deg);
    animation: rotation 2s linear reverse;
    -moz-animation: rotation 3s linear reverse;
    -webkit-animation: rotation 3s linear reverse;
    -o-animation: rotation 3s linear reverse;
}
@-webkit-keyframes rotation{
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(180deg);}
}



.thecircle .navbar-light .navbar-toggler {
    background: #f4eae1;
}

.thecircle .navbar {
    background-color: black !important;
}

.thecircle .navbar a, .thecircle .navbar a {
    color: grey !important;
    font-weight: 100;
    font-size: 1.4em;
}


.thecircle .navbar a:hover {
    color: white !important;
    font-weight: bold;
}

.thecircle .btn-outline-danger {
    color: white;
    font-size: 1.4em;
}

.thecircle .navbar img {
    width: 75px;
    height: inherit;
}

/*TODO :HOME*/


.thecircle .image-home-admin {
    padding-top: 1281px;
    width: 100%;
    background-image: url(../images/thecircle/slide1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.thecircle #welcome h3:after {
    display: none;

}

.thecircle .login-user-front, .thecircle #new-user, .thecircle #front-show-user, .thecircle #new-service, .thecircle .user-admin-index, .thecircle
.task-admin-index, .thecircle #new-multi-task, .thecircle #new-company, .thecircle #show-task, .thecircle .content-client, .thecircle #request-admin {
    padding-top: 0;
    width: 90%;
    margin: auto;
}


.thecircle .dataTables_wrapper .dataTables_filter input, .thecircle .dataTables_length select {
    border: 0;
}

.thecircle .task-admin-index, .thecircle #new-multi-task,
.thecircle #show-task, .thecircle .content-client, .thecircle #new-service,
.thecircle .user-admin-index, .thecircle #request-admin, .thecircle #front-show-user, .thecircle #new-user {
    position: absolute;
    right: 5%;
    top: 150px;
}


.thecircle .task-admin-index a, .thecircle #new-multi-task a, .thecircle #btn-request-send,
.thecircle .btn-view-task, .thecircle #btn-edit-task, .thecircle #request-admin button,
.thecircle #new-multi-task button,.thecircle #new-user button,.thecircle #btn-informe-client,
.thecircle #btn-request-client{
    background: #E5A65E;
    border-radius: 0;
    border: 0;

}

.thecircle .user-admin-index a b, .thecircle #new-service span a b,
.thecircle .task-admin-index a, .thecircle #request-admin button,
.thecircle #new-multi-task button,.thecircle #new-user button,
.thecircle #btn-informe-client,.thecircle #btn-request-client{
    background: #E5A65E;
    padding: 10px;
    font-weight: 300;
}

.thecircle #request-admin button, .thecircle #new-multi-task button,
.thecircle #new-user button,.thecircle #btn-request-client,.thecircle #btn-informe-client {
    width: 50%;
    /*float: left;*/
}
.thecircle #new-user button:hover{
    background-color: #cc9900;
}
.thecircle #request-admin button:hover {
    background-color: #cc9900;
}

.thecircle #new-multi-task button:hover {
    background-color: #cc9900;
}

.thecircle .user-admin-index a b:hover {
    background-color: #cc9900;
}

.thecircle #new-service span a b:hover {
    background-color: #cc9900;
}

.thecircle #btn-request-send:hover {
    background-color: #cc9900;
}

.thecircle .task-admin-index a:hover {
    background: #cc9900;
}
.thecircle #btn-request-client{
    top:400px;
    position: absolute;
    right: 25%;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 10px 10px -6px black;
}
.thecircle #btn-informe-client{
    top:500px;
    position: absolute;
    right: 25%;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 10px 10px -6px black;

}


.thecircle #btn-request-send, .thecircle #btn-edit-task {
    width: 100%;
}

.thecircle .content-client textarea {
    border: 0;
}

.thecircle .task-admin-index h1, .thecircle #new-multi-task h1, .thecircle .content-client h2,
.thecircle #front-show-user h1, .thecircle #request-admin h1, .thecircle #new-service h1,
.thecircle .user-admin-index h1, .thecircle #new-user h1,.thecircle #btn-informe-client,.thecircle #btn-request-client {
    color: white;
}


#block-grey {
    height: 250px;
    background: darkgrey;
    position: relative;
    opacity: 0.5;
}


/*TODO: table*/
.thecircle table i {
    font-size: 1.4em;
}

.thecircle td, .thecircle th, .thecircle .d-md-block {
    background: #f4eae1;

}

.thecircle thead, .thecircle td {
    border-color: #f4eae1;
}

.thecircle .dataTable tbody tr {
    background-color: #f4eae1 !important;
}

.thecircle table tr {

    line-height: 1;
    padding: 10px;

}

.thecircle .navbar-expand-lg .navbar-nav .nav-link {
    font-weight: 400;
}


